.component {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
  margin-left: 17px;
  margin-right: 8px;
}

.component:last-of-type {
  margin-bottom: 0;
}

.listItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #1C1C21;
  width: calc(536px - 32px);
  padding-right: 32px;
  margin-left: 8px;
}

.image {
  width: 80px;
  height: 40px;
  margin: 20px 20px 20px 24px;
  background-image: "";
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.name {
  width: 254px;
  /* max-height: 48px; */
  margin: 16px 20px 16px 0;
}

.priceBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto 23px auto 0;
}

.price {
  font-size: 24px;
  margin-right: 9px;
  color: #F2F2F3;
}