.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin: 40px 8px 20px 0;
}

.icon {
  margin: 0 40px 0 8px;
}

.pticeText {
  color: #F2F2F3;;
}