.ingredients {
  margin: 40px 0;
  display: flex;
  flex-wrap: wrap;
  height: 55vh;
  overflow: scroll;
  overflow-x:hidden;
}

.ingredients::-webkit-scrollbar {
  width: 8px;
  background-color: #2F2F37;
}

.ingredients::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}

.title {
  line-height: 30px;
  display: block;
  width: 100%;
  color: #F2F2F3;
}