.ingredient {
  width: 272px;
  height: 208px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 24px 16px 40px;
  cursor: pointer;
}

.ingredient:nth-of-type(2n) {
  margin: 24px 8px 40px;
}

.image {
  width: 240px;
  height: 120px;
  margin: 0 auto;
  background-image: "";
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.priceBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 8px auto;
}

.price {
  font-size: 24px;
  margin-right: 9px;
  color: #F2F2F3;
}

.name {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #F2F2F3;
}