.modalContainer {
  position: fixed;
  height: 100vh;
	width: 100vw;
  top: 0;
  visibility: hidden;
	opacity: 0;
}

.modalContainer_opened {
  animation: emergence .15s linear forwards;
}

.modal {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 720px;
  min-height: 500px;
  border-radius: 40px;
  background-color: #1C1C21;
  flex-direction: column;
}

.overLay {
  position: absolute;
  height: 100%;
	width: 100%;
  background-color: rgb(0, 0, 0, 0.5);
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 640px;
  height: 64px;
  margin: 40px 40px 0;
}

.closeIcon {
  margin-left: auto;
  cursor: pointer;
  transition: .15s ease-in-out;
}

.closeIcon:hover {
  opacity: .6;
}

.title {
 color: #F2F2F3;
}

@keyframes emergence {
  0% {
    visibility: hidden;
	  opacity: 0;
  }
  100% {
    visibility: visible;
	  opacity: 1;
  }
}